
.font {
    font-family: arial;
    color:  dimgray;
}
a { font-family: arial; color:  dimgray;}

.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: white;
}
.nav-pills>li.active>a{
    background-image: linear-gradient(to bottom,#080808 0,#0f0f0f 100%);

}
.navbar {
    margin-bottom: 0px; 
}
