.text {
    font-size: 150% ;
    color: rebeccapurple ;
    font-family : arial;
   
}
.center {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}